@media all and (max-width:435px){
    .adjust-img-1{
        max-width: 72%;
    }
    .adjust-img-2{
        max-width: 63%;
    }
    .adjust-img-3{
        max-width: 71%;
    }
}

@media all and (min-width: 567px){
    /* CALL TO ACTION STARTS HERE  */

#vpn-cta-btn-row{
    margin-top: -8%;
}

/* CALL TO ACTION ENDS HERE  */
  
}
@media all and (min-width: 768px){
      /* NAVBAR CSS STARTS HERE */
      .logo{
        width: 30%;
    }
    #vpn-buy-btn{
        margin-top:  0!important;
    }

    /* NAVBAR CSS ENDS HERE  */
    /* HEADER BG STARTS  */
.vpn-bg{ 
    height: 100vh;
    margin-top: -20%;
}
/* HEADER BG ENDS  */
/* WORDS BELOW THE HEADER BACKGROUND START  */
.vpn-name h1{
    font-size: 3rem;
}
.vpn-name p{
    font-size: 1.5rem;
}
.expires{
    margin-top: 0%;
}
/* WORDS BELOW THE HEADER BACKGROUND END */


/* REVIEWS SECTION START  */
.reveiws-large{
    display: flex;
}
#carouselExampleIndicators{
    display: none;
}
#reviews h2, #map h2{
    font-size: 1.2rem;
}
.card-text{
    font-size: 0.65rem;
}
#map{
    height: 80vh;
}
#map p{
    font-size: 1rem;
}

/* REVIEWS SECTION END */

/* SUBSCRIPTION SECTION STARTS HERE  */
.subscribe-logo{
    width: 20%;
}
/* SUBSCRIPTION SECTION ENDS HERE  */
  /* CALL TO ACTION STARTS HERE  */

  #vpn-cta-btn-row{
    margin-top: -6%;
}
/* FOOTER SECTION STARTS  */
.mobile-footer-1, .mobile-footer-2, .mobile-footer-3{
    display: none;
}
.desktop-footer{
    display: block;
}
#footer-icons-large{
    display: flex!important;
}
/* CALL TO ACTION ENDS HERE  */
    
}
@media all and (min-width: 992px){
    #vpn-buy-btn{
        font-size: 0.6rem;
    }
    /* HEADER BG STARTS  */

.vpn-bg{
    background-size: 70%;
    margin-top: -15%;
}
.vpn-name h4{
    font-size: 1.2rem;
}
.card-text{
    font-size: 0.75rem;
}
/* HEADER BG ENDS  */
      /* CALL TO ACTION STARTS HERE  */

  #vpn-cta-btn-row{
    margin-top: 0%;
}
#vpn-cta-div{
font-size: 0.7rem;
margin-top: 2%;
height: 60%;
}
.buy-btn{
    margin-top: 15%!important;
    
}
/* CALL TO ACTION ENDS HERE  */
/* FOOTER  */
#footer-links a {
    font-size: 0.8rem;
   }
/* FOOTER  */
}
@media all and (min-width: 1200px){
    .vpn-navbar{
        position: fixed;
        width: 100%;
        top: 0%;
        z-index: 99999;
    }
    #vpn-buy-btn{
        font-size: 0.8rem;
    }
    #body-start{
        margin-top: 10%!important;
    }
    /* MORE FEATURES SECTION  */
#vpn-feature-details h5{
    font-size: 1rem;
}
#vpn-feature-details p{
    font-size: 0.8rem;
}
/* MORE FEATURES SECTION ENDS */
}
@media all and (min-width: 1440px){

    /* HEADER START */
    .grab{
        font-size: 1.5rem;
    }
    .vpn-bg{margin-top: -15%;}
    .vpn-name {
        margin-top: -10%;
    }
    .vpn-name h1{
        font-size: 4.5rem;
    }
    .vpn-name p{
        font-size: 2.5rem;
    }
    .vpn-name h4{
        font-size: 2rem;
    }
    /* HEADER  END */
    /* REVIEWS START  */
    .card-text{
        font-size: 0.85rem;
    }
    /* REVIEWS END  */
    /* CALL TO ACTION STARTS HERE  */

#vpn-cta-div{
font-size: 1rem;
margin-top: 2%;
height: 60%;
}
.buy-btn{
    margin-top: 28%!important;
    
}
/* CALL TO ACTION ENDS HERE  */
#before-footer p{
    font-size: 0.8rem;

}
}