@media all and (min-width: 567px){
    /* CALL TO ACTION STARTS HERE  */

#vpn-cta-btn-row{
    margin-top: -8%;
}

/* CALL TO ACTION ENDS HERE  */
  
}
@media all and (min-width: 768px){
      /* NAVBAR CSS STARTS HERE */
      .logo{
        width: 30%;
    }
    #vpn-buy-btn{
        margin-top:  0!important;
    }

    /* NAVBAR CSS ENDS HERE  */
    /* HEADER BG STARTS  */
.vpn-bg{ 
    height: 100vh;
}
/* HEADER BG ENDS  */
/* WORDS BELOW THE HEADER BACKGROUND START  */
.vpn-name h1{
    font-size: 4.5rem;
}
.vpn-name p{
    font-size: 2rem;
}
/* WORDS BELOW THE HEADER BACKGROUND END */

/* FEATURES SECTION START */
#features h2{
    font-size: 2.5rem;
}

#vpn-features ul li {
    font-size: 1rem;
    
}
#hidden-feature{
    display:block;
}
/* FEATURES SECTION END */
/* REVIEWS SECTION START  */
.reveiws-large{
    display: flex;
}
#carouselExampleIndicators{
    display: none;
}
#reviews h2, #map h2{
    font-size: 2.5rem;
}
#map{
    height: 80vh;
}
#map p{
    font-size: 1rem;
}

/* REVIEWS SECTION END */
/* MORE FEATURES SECTION  */
#vpn-feature-details h5{
    font-size: 1.3rem;
}
#vpn-feature-details p{
    font-size: 1rem;
}
/* MORE FEATURES SECTION ENDS */
/* SUBSCRIPTION SECTION STARTS HERE  */
.subscribe-logo{
    width: 20%;
}
/* SUBSCRIPTION SECTION ENDS HERE  */
  /* CALL TO ACTION STARTS HERE  */

  #vpn-cta-btn-row{
    margin-top: -6%;
}
/* FOOTER SECTION STARTS  */
.mobile-footer-1, .mobile-footer-2, .mobile-footer-3{
    display: none;
}
.desktop-footer{
    display: block;
}
#footer-icons-large{
    display: flex!important;
}
/* CALL TO ACTION ENDS HERE  */
    
}
@media all and (min-width: 992px){
    #vpn-buy-btn{
        font-size: 0.6rem;
    }
    /* HEADER BG STARTS  */

.vpn-bg{
    background-size: 70%;
    margin-top: -15%;
}
/* HEADER BG ENDS  */
      /* CALL TO ACTION STARTS HERE  */

  #vpn-cta-btn-row{
    margin-top: 0%;
}
#vpn-cta-div{
font-size: 0.7rem;
margin-top: 2%;
height: 55vh;
}
.buy-btn{
    margin-top: 15%!important;
    
}
/* CALL TO ACTION ENDS HERE  */
/* FOOTER  */
#footer-links a {
    font-size: 0.8rem;
   }
/* FOOTER  */
}
@media all and (min-width: 1200px){
    .vpn-navbar{
        position: fixed;
        width: 100%;
        top: 0%;
        z-index: 99999;
    }
    #vpn-buy-btn{
        font-size: 0.8rem;
    }
    #body-start{
        margin-top: 10%!important;
    }
    
}
@media all and (min-width: 1440px){
    /* CALL TO ACTION STARTS HERE  */

#vpn-cta-div{
font-size: 1rem;
margin-top: 2%;
height: 50vh;
}
/* CALL TO ACTION ENDS HERE  */
#before-footer p{
    font-size: 0.8rem;

}
}