*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    
}
body{
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    margin: 0%;
}
ul{
    list-style: none;
}

/* NAVBAR CSS STARTS HERE  */
.logo{
    width: 50%;
}

.vpn-navbar{
    background: #FFFBFB;
    color: black;
}
.vpn-navbar li{
    color: black;
}
#vpn-download{
    color: #9B0000;
}
#vpn-buy-btn{
    background-color: #9B0000;
    color: #FFFBFB;
    border-radius: 25px;
    /* margin: 10% 0; */
    font-size: 0.8rem;
}

#vpn-appeal span{
    color: #9B0000;
    font-size: 78px;
    font-family: 'Revalia', cursive;
}
/* NAVBAR CSS ENDS HERE  */

/* HEADER BG STARTS  */
.vpn-bg{
    background-image: url(../images/vpn-bg.png);
    height: 75vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -20%;
}
/* HEADER BG ENDS  */

/* WORDS BELOW THE HEADER BACKGROUND START  */
.expires{
    margin-top: 4%;
}
#vpn-appeal{
    z-index: 999;
}
.vpn-name h1{
    font-size: 1.8rem;
    font-family: 'Revalia', cursive;
}
.vpn-name p{
    margin-top: -5%;
    font-size: 1rem;
}
.vpn-name span{
    color: #9B0000;
}
/* WORDS BELOW THE HEADER BACKGROUND END */

/* FEATURES SECTION START */
#features h2{
    font-size: 0.75rem;
}

.feature-section  {
    background: #7b7c83;
    /* opacity: 0.5; */
}
#vpn-features ul li {
    font-size: 0.55rem;
    z-index: 2;
    color: #2F1E1E;
}
#hidden-feature{
    display: none;
}
/* FEATURES SECTION END */

/* REVIEWS SECTION START  */
.reveiws-large{
    display: none;
}
.card{
    background: #7780A8;
    color: white;
    border-radius: 0%;
}
.card img{
    width: 70%;
    margin: auto;
}
.card p{
   
}
#reviews h2{
    font-size: 0.75rem;
}
#reviews-section{
background-color: #cfd2e0;
 
}
#map{
    background-image: url(../images/world-png-5\ 1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #E5E5E5;
}

#map h2{
    font-size: 0.75rem;
}
#map p{
    font-size: 0.65rem;
}
#map-texts{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
/* REVIEWS SECTION END */

/* MORE FEATURES SECTION  */
#more-features{
    background-color: #d9dae5;
}
#more-features-header{
 background-color: 
 #e5e5e5;
}
#vpn-feature-details h5{
    font-size: 0.65rem;
}
#vpn-feature-details p{
    font-size: 0.55rem;
}
/* MORE FEATURES SECTION ENDS */

/* SUBSCRIPTION SECTION STARTS HERE  */
#vpn-subscriptions{
    background-color: #cfd2e0;
}
.subscribe-logo{
    width: 50%;
}
.vpn-subscriptions-appeal{
    color: #D70404;
}
#vpn-device-logos{
    margin-bottom: 1.5rem;
}
/* SUBSCRIPTION SECTION ENDS HERE  */
/* CALL TO ACTION STARTS HERE  */
#vpn-cta-section{
    height: 100vh;
    background-color: 
    #cfd2e0;
    background-image: url(../images/Bottom-bg.png);
    background-size: 100%;
    background-position: center;
    
}
#vpn-cta-btn-row{
    margin-top: -11%;
}

.vpn-download-btn{
    background-color: #9B0000;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFBFB;
    border: none;
    padding: 0.75rem;
}
#inputCurrency{
    width: 20%;
    padding: 0.5rem;
    height: 1px;
    border-radius: 10px;
    font-size: 0.6rem;
    background-color:  #C4C4C4;
    color: black;
}

#vpn-cta-div{
    height: 45vh;
    width: 40%;
    background: linear-gradient(174.38deg, rgba(109, 119, 162, 0.9) 67.92%, rgba(109, 119, 162, 0.2) 110.71%);
border-radius: 15px;
font-size: 0.7rem;
margin-top: 5%;
}
#vpn-cta-div span{
    color: white;
    font-size: 68px;
    font-family: 'Revalia', cursive;
}
.buy-btn{
    margin-top: 20%!important;
    background-color: #9B0000;
    color: #FFFBFB;
    border-radius: 25px;
    font-size: 0.8rem;
}
/* CALL TO ACTION ENDS HERE  */
/* FOOTER STARTS HERE  */
.mobile-footer-1{
    background-color: #a5a7b2;
}
.mobile-footer-1-container{
    background-color: #e7e6ed;
    margin: 0!important;
    margin-bottom: 0.3%!important;
}
.mobile-footer-1-container p,
.mobile-footer-1-container a{
 font-size: 0.6rem; 
 color: black;  
}
.mobile-footer-2{
    background-color: #e7e6ed;
}
.mobile-footer-2-container{
    background-color: #878589;
    margin: 0!important;
    margin-bottom: 0.6%!important;
}
.mobile-footer-2-container a{
    font-size: 0.8rem; 
    color: #e7e6ed;  
    font-weight: 500;
   }
.mobile-footer-3{
    background-color: 
    #cfd2e0;
}
.mobile-footer-3 li, .mobile-footer-3 p{
   font-size: 0.5rem;
   color: black;
}
.mobile-footer-3-container{
    background-color: #e7e6ed;
    margin: 0!important;
}
.mobile-footer-3-container ul{
    margin: 0!important;
}
.mobile-footer-logo{
    max-width: 50%;
}
.desktop-footer{
    display: none;
}
#before-footer{
    background-color: #dbdce7;
}
#before-footer p{
    font-size: 0.52rem;

}
#before-footer ul img{
    max-width: 70%;

}
#before-footer a{
    
    color: black;
}
#before-footer img{
    max-width: 50%;
    max-height: 50%;
}
footer{
    background: rgba(123, 124, 131, 0.5);
}
.footer ul li{
    font-size: 0.7rem;
}
.footer-bottom ul{
    margin-bottom: 0%;
}
.footer-bottom{
    background-color:  #C4C4C4;
}
.footer-bottom li img{
    max-width: 100%;
}
.footer-bottom img{
    max-width: 50%;
}
.footer-bottom p{
    font-size: 0.7rem;
}
#footer-icons-large{
    display: none!important;
}
#footer-links{
    /* margin: 0!important; */

}
#footer-links a, #footer-links li{
 color: black;
 font-size: 0.6rem;
}
#footer-links ul{
 margin-bottom: 0%!important;
}
.desktop-copyright{
    font-size: 0.5rem!important;
}
/* FOOTER ENDS HERE  */

